rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Pomocná funkce pro identifikaci admina
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'bookmycut@seznam.cz';
    }

    // Uživatel
    match /users/{userId} {
      allow read, write, create: if request.auth != null; allow write, delete, read: if isAdmin();
    }

    // Číst může každý přihlášený, měnit jen admin
    match /kadernici/{docId} { allow read: if request.auth != null; allow write, delete, read, create: if isAdmin(); }
    match /lokace/{docId}    { allow read: if request.auth != null; allow write, delete, read, create: if isAdmin(); }
    match /kadernicke_ukony/{docId}     { allow read: if request.auth != null; allow write, delete, read, create: if isAdmin(); }
  

    // Rezervace
    match /rezervace/{resId} {
      allow create, read: if request.auth != null;
      allow delete: if request.auth != null && (resource.data.id_uzivatele == request.auth.uid || isAdmin());
      allow update, delete, read, create: if isAdmin();
    }
    
    // Hodnocení
    match /hodnoceni/{resId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete, read, create: if request.auth != null && (resource.data.id_uzivatele == request.auth.uid || isAdmin());
    }
  }
}